/*-----------------------------------------------------------------------------mk--
| Global
|----------------------------------------------------------------------------------
| 
*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: rgb(60, 15, 15);
    --color-text: rgb(255, 255, 255);
    --color-card-bg: rgb(19, 19, 19);
    --color-nav-bg: rgb(117, 0, 35);
    --color-nav-hover: rgb(160, 3, 50);

    font-size: 20px;
}

body {
    background-color:rgb(19, 19, 49);
}

body,
button,
input,
select,
textarea {
    font-family:'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color:rgb(60, 15, 15);
    background-image: url("../assets/rauschen.png");
    max-width: 700px;
    margin: 3rem auto 0;
    margin: 0 auto;
    padding: 0 1.5em;
    color: white;
}

main {   
    padding-top: 2rem;
}

/*-----------------------------------------------------------------------------mk--
| Titel
|----------------------------------------------------------------------------------
| 
*/
.main-header {
    color: rgb(0, 128, 0);
}

.main-header__text {
    text-align: center;
}
.main-header__text > h1 {
    padding-top: 0rem;
    font-size: 44px; 
}
.main-header__text > h2 {
    font-size: 24px;
} 

.main-header img {
    display: none;
}

/*-----------------------------------------------------------------------------mk--
| Titel - Großer Viewport
|----------------------------------------------------------------------------------
| 
*/
@media screen and (min-width: 780px ) {
    .main-header {
        display: flex;
        gap: 2rem;
    }

    .main-header {
        color: rgb(0, 128, 0);
        margin-top: 2rem;
    }

    .main-header__text {
        text-align: left;
    }
    .main-header__text > h1 {
        font-size: 44px; 
    }
    .main-header__text > h2 {
        font-size: 24px;
    } 

    .main-header img {
        display: block;
    }
}

/*-----------------------------------------------------------------------------mk--
| Card
|----------------------------------------------------------------------------------
| 
*/
.question-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    padding: 2.5em 1.5em 1.5em;
    margin-bottom: 3rem;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(88, 11, 11), 
                -3px -3px 10px rgb(88, 11, 11);
    background-image: url("../assets/rauschen.png");
    background-color: rgb(19, 19, 19);
    color: green;
}

.question-card__question {
    padding: 15px;
    margin-bottom: 1.5rem;
    border-radius: 7px;
    background-color: rgb(70, 10, 40);
}

#answer-area {
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 19px 7px 17px 7px;
    border: 2px dashed rgb(86, 6, 6);
    border-radius: 7px;
    text-align: center;
}

.answer-visible {
    display: block;
}

.answer-hidden {
    display: none;
}

.btnShowAnswer {
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 9px 7px 7px 7px;
    /* font-size: 18px; */
    border-radius: 7px;
    border: 2px solid rgb(86, 6, 6);
    text-align: center;
}

.btnShowAnswer:hover {
    background-color: rgb(78, 4, 4);
    cursor: pointer;
}

h3 {
    font-size: 1rem;
}

.category {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    gap: 1rem;
}

.category > li {
    display: inline-block;
    background-color: rgb(55, 0, 0);
    color: white;
    padding: 7px 20px 5px 20px;
    border: 2px solid rgb(86, 6, 6);
    border-radius: 10px;
    border: 1px solid rgb(19, 19, 19);
    cursor: pointer; 
}

.bookmark {
    width: 32px; 
    height: 32px; 
    position: absolute;
    top: -16px;
    right: 16px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.bookmark:hover {
    transform: scale(1.2);
}

.bookmark-enable {
    background-color: green;
}

.bookmark-disable {
    background-color: rgb(150, 0, 0, 1);
}

/*-----------------------------------------------------------------------------mk--
| Navigation
|----------------------------------------------------------------------------------
| 
*/
.main-navigation {
    position:sticky;
    bottom: 0;
}

.main-navigation ul {
    display: flex;
    list-style: none;
    background-color: rgb(117, 0, 35);
}

.main-navigation li {
    flex: 1;
    border-right: 3px solid rgb(55, 35, 35);
    transition: all 0.3s ease-in-out;
}

.main-navigation li:last-child {
     border-right: none;
}

.main-navigation li:hover {
     background-color: rgb(160, 3, 50);
}

.main-navigation ul li a.active {
     background-color: rgb(160, 3, 50);
}

.main-navigation li a {
    display: flex;
    justify-content: center;
    align-items: center;
     
    padding: 0.9rem 0 0.7rem;
    text-decoration: none;
}

.main-navigation img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 36px;
    border: 0
}

.cardbox {
    width: 150px;
    height: auto;
    display: block;
    filter:sepia(1) brightness(0.5);
}
