/*-----------------------------------------------------------------------------mk--
| Question-Card
|----------------------------------------------------------------------------------
| 
*/
.question-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    padding: 2.5em 1.5em 1.5em;
    margin-bottom: 3rem;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(88, 11, 11), 
                -3px -3px 10px rgb(88, 11, 11);
    background-image: url("../../assets/rauschen.png");
    background-color: var(--color-card-bg);
}

@media (prefers-color-scheme: light) {
    .question-card {
        background-image: none;
        box-shadow: 3px 3px 10px rgb(180, 180, 180), 
                -3px -3px 10px rgb(180, 180, 180);
    }
}

.question-card__question {
    padding: 15px;
    margin-bottom: 1.5rem;
    border-radius: 7px;
    background-color: var(--color-spot-bg);
}

.answer-area {
    color: var(--color-spot-text);
    padding: 19px 7px 17px 7px;
    border: 2px dashed rgb(86, 6, 6);
    border-radius: 7px;
    text-align: center;
}

.answer-visible {
    display: block;
}

.answer-hidden {
    display: none;
}

.btnShowAnswer {
    padding: 9px 7px 7px 7px;
    border: 1px solid rgb(0, 128, 0);
    border-radius: 7px;
    font-size: 18px;
    background-color: var(--color-card-btn);
    color: var(--color-spot-text);
    text-align: center;
}

.btnShowAnswer:hover {
    background-color: var(--color-nav-bg);
    cursor: pointer;
}

/* 
Hier wohl besser display: grid
(flex-wrap kann zu unschönen Umbrüchen führen) 
*/
.category__title {
    margin-bottom: 1em;
    font-size: 1rem;
}

.category__items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 0.5rem;
}

.category__items > li {
    display: inline-block;
    background-color: var(--color-tag-bg);
    color:  var(--color-spot-text);
    padding: 5px 15px 4px 15px;
    border: 1px solid rgb(19, 19, 19);      
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer; 
}

.bookmark {
    width: 32px; 
    height: 32px; 
    position: absolute;
    top: -16px;
    right: 16px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.bookmark:hover {
    transform: scale(1.2);
}

.bookmark-enable {
    background-color: var(--bookmark-enable-bg);
}

.bookmark-disable {
    background-color: var(--bookmark-disable-bg);
}

@media screen and (min-width: 720px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}
