/*-----------------------------------------------------------------------------mk--
| Header
|----------------------------------------------------------------------------------
| 
*/
.main-header {
    color: rgb(0, 128, 0);
}

.main-header__text {
    text-align: center;
}
.main-header__text > h1 {
    padding-top: 0rem;
    font-size: 44px; 
}
.main-header__text > h2 {
    font-size: 24px;
} 

.main-header img {
    display: none;
}

/*-----------------------------------------------------------------------------mk--
| Header - Large Viewport
|----------------------------------------------------------------------------------
| 
*/
@media screen and (min-width: 780px ) {
    .main-header {
        display: flex;
        gap: 2rem;
    }

    .main-header {
        color: rgb(0, 128, 0);
        margin-top: 2rem;
    }

    .main-header__text {
        text-align: left;
    }
    .main-header__text > h1 {
        font-size: 44px; 
    }
    .main-header__text > h2 {
        font-size: 24px;
    } 

    .main-header img {
        display: block;
    }
}
