/*-----------------------------------------------------------------------------mk--
| Header
|----------------------------------------------------------------------------------
| 
*/
.main-header__text {
    text-align: center;
}

.main-header__text > h1 {
    padding-top: 0rem;
    font-size: 44px; 
}

.main-header__text > h2 {
    font-size: 24px;
}

.main-header__image {
    width: 150px;
    height: auto;
    display: none;
    
    filter:sepia(1) brightness(0.5);
}

/*-----------------------------------------------------------------------------mk--
| Header - Large Viewport
|----------------------------------------------------------------------------------
| 
*/
@media screen and (min-width: 780px) {
    .main-header {
        display: flex; justify-content: space-between;
        /* gap: 7rem; */
        margin-top: 2rem;
    }

    .main-header__text {
        text-align: left;
    }

    .main-header__image {
        display: block;
        margin-right: 3rem;
    }
}
