/*-----------------------------------------------------------------------------mk--
| Navigation
|----------------------------------------------------------------------------------
| 
*/
.main-navigation {
    position:sticky;
    bottom: 0;

    /* korrespondiert zu global.css -> body -> padding: 0 1em;*/
    margin: 0 -1em; 
}

.main-navigation ul {
    display: flex;
    list-style-type: none;
    background-color: var(--color-nav-bg);
}

.main-navigation li {
    flex: 1 0 auto;
    border-right: 3px solid rgb(55, 35, 35);
    transition: all 0.3s ease-in-out;
}

.main-navigation li:last-child {
     border-right: none;
}

.main-navigation li:hover {
     background-color: var(--color-nav-hover);
}

.main-navigation li a.active,
.main-navigation li a:focus {
     background-color: var(--color-nav-hover);
}

.main-navigation li a {
    display: flex;
    justify-content: center;
    align-items: center;
     
    padding: 0.9rem 0 0.7rem;
    text-decoration: none;
}

.main-navigation img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 36px;
    border: 0
}
