/*-----------------------------------------------------------------------------mk--
| Toggle-Switch Styling
|----------------------------------------------------------------------------------
| Schaltfläche für die Wahl zwischen einem Hell- und einem Dunkel-Modus.
*/
:root {
    --toggle-switch-width: 3.5em;
    --toggle-switch-height: 1.7em;
}

.darkwhite-mode {
    > label {
        display: inline-block;

        > span {
            margin: 0 0.5em;
        }
    }

    input[type="checkbox"] {
        position: absolute;
        margin-left: -9999px;
        visibility: hidden;   

        + span {
            display: inline-block;
            width: var(--toggle-switch-width);
            height: var(--toggle-switch-height);
            position: relative; 
            top: 7px;
            left: 0;
            background-color: var(--color-tag-bg);
            border: 1px solid rgb(111, 0, 33);
            border-radius: 1rem;
            /*  border-radius: true; */
            
            &::before {
                display: block;
                width: var(--toggle-switch-height);
                height: var(--toggle-switch-height);
                position:absolute;
                top: 0;
                left: 0;
                content: " ";
                background-color: var(--toggle-switch-disc-bg);
                border: 1px solid rgb(111, 0, 33);
                border-radius: 50%;
                /* box-shadow: inset 0 0 10px rgb(122, 0, 0); */
                transition: all 300ms ease-in;
            }
        }

        &:checked + span::before {
            /* left: 50%; */
            left: calc(var(--toggle-switch-width) - var(--toggle-switch-height));
        }
    }
}c